.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 16px;
    margin-bottom: -40px;
}

.item {
    margin-left: 16px;
    font-family: var(--code-font);
    height: 24px;
}

.icon {
    height: 24px;
    width: 24px;
    margin-bottom: 0;
}
