.page {
    margin-top: 48px;
    padding-bottom: 48px;
}

.title {
    margin-bottom: 32px;
}

.tagList {
}

.content {
}

@media only screen and (max-width: 480px) {
    .page {
        margin-top: 64px;
    }
}
