:root {
    --main-bg-color: #f3f3f3;
    --accent-color: #cc2a36;
    --code-font: 'JetBrains Mono', 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
        'Liberation Mono', Menlo, Courier, monospace;
    --code-bg-color: #2b2b2b;
    --code-basic-color: #abbaba;
    --accent-font: var(--code-font);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://d1svz1b6z7p08i.cloudfront.net/fonts/JetBrainsMono-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    color: hsla(0, 0%, 0%, 0.8);
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

img {
    max-width: 100%;
    padding: 0;
    width: auto;
    height: auto;
    display: block;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-color);
}

h1 {
    padding: 0;
    margin: 0 0 1.45rem;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

h2 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 1.62671rem;
    line-height: 1.1;
}

h3 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 1.38316rem;
    line-height: 1.1;
}

h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

h5 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 0.85028rem;
    line-height: 1.1;
}

h6 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}

hgroup {
    padding: 0;
    margin: 0 0 1.45rem;
}

ul {
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

ol {
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

dl {
    padding: 0;
    margin: 0 0 1.45rem;
}

dd {
    padding: 0;
    margin: 0 0 1.45rem;
}

p {
    padding: 0;
    margin: 0 0 16px;
}

figure {
    padding: 0;
    display: inline-block;
    margin: 0 0 1.45rem;
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.9rem;
}

table {
    padding: 0;
    margin: 0 0 1.45rem;
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;
}

fieldset {
    padding: 0;
    margin: 0 0 1.45rem;
}

blockquote {
    padding: 0;
    margin: 0 1.45rem 1.45rem;
}

form {
    padding: 0;
    margin: 0 0 1.45rem;
}

noscript {
    padding: 0;
    margin: 0 0 1.45rem;
}

iframe {
    padding: 0;
    margin: 0 0 1.45rem;
}

hr {
    padding: 0;
    margin: 0 0 calc(1.45rem - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
}

address {
    padding: 0;
    margin: 0 0 1.45rem;
}

b {
    font-weight: bold;
}

strong {
    color: var(--accent-color);
    font-weight: bold;
}

dt {
    font-weight: bold;
}

th {
    font-weight: bold;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

ol li {
    padding-left: 0;
}

ul li {
    padding-left: 0;
}

li > ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

li > ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
    margin-bottom: 0;
}

li *:last-child {
    margin-bottom: 0;
}

p *:last-child {
    margin-bottom: 0;
}

li > p {
    margin-bottom: calc(1.45rem / 2);
}

kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}

thead {
    text-align: left;
}

td,
th {
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
    font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    padding: 0.725rem 0.96667rem calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}

html,
body {
    height: 100%;
}

body {
    background: var(--main-bg-color);
}

.section {
    width: 100%;
}

.content {
    max-width: 764px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

/* LINKS */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* CODE */

pre {
    margin: 0 0 16px;
    font-size: 0.85rem;
    line-height: 1.42;
    background: var(--code-bg-color);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 16px;
    color: var(--code-basic-color);
}

code {
    font-size: 0.85rem;
    line-height: 1.45rem;
    color: #cc2a36;
}

pre,
code {
    font-family: var(--code-font);
}

code:before,
code:after {
    letter-spacing: -0.2em;
}

pre code {
    color: inherit;
    background: none;
    line-height: 1.42;
}

/* Pictures */

.picture {
    width: 100%;
}

.picture__holder {
    position: relative;
    border: solid 2px var(--code-basic-color);
}

.picture__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
